
torch==2.5.1
torchvision==0.20.1
albumentations==2.0.8
opencv-python==4.13.0.92
Pillow==12.3.0
numpy==2.5.1
pandas==3.0.5
onnx==1.22.0
onnxruntime-gpu==1.28.0
onnxsim==0.7.0
huggingface_hub==1.13.0
safetensors==0.8.0
einops==0.8.2
PyQt5==5.15.11
pyqt5-sip==12.19.0
matplotlib==3.11.1
tqdm==4.67.3
